FEATUREHUB_SERVER_API_KEY=ce0ee915-c13d-4831-9bb2-1a598b4ad74b/WNNmvvn7L2uQOWR4p0K38RrxZmQIaDslYv13iHzP
FEATUREHUB_CLIENT_API_KEY=ce0ee915-c13d-4831-9bb2-1a598b4ad74b/MLLux4dhVuzlAnMywZSv2RVjNPo0Ec*Wg0isLCbAQ58xNOSNQkX
FEATUREHUB_EDGE_URL=http://localhost:8085
FEATUREHUB_BASE_URL=http://localhost:8085
